@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color:rgb(66, 59, 59);
    font-family:"montserrat","sans-serif" ;    
}

.box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.box1{
    background-color: rgb(25, 27, 34);
    height: 500px;
    width: 412px;
    border-radius: 30px;
    /* padding: 6px 18px 0 18px; */
}
header{
    height:100px ;
    width:412px ;
    background-color:black;
    padding: 11px 18px 0 18px; ;
    border-radius: 20px;

}
 .calci{
    height:70px;
    width:378px;
    font-size: 50px;
    border-radius: 10px;
    color: rgb(51, 47, 47);
    font-weight:lighter;
    outline: none;
    border: none;
    background-color: white;
    text-align: end;

}
input,button{
    height:65px;
    width: 80px;
    font-size: 28px;
    font-weight: 500;
    color: white;
    background-color: rgb(119, 110, 110);
    border: none;
    border-radius: 15px;
    
    
    
}
.red-btn{
    background-color: rgb(202, 43, 43);
}
.size-btn{
    font-size: 36px;
}
.mul-btn{
    font-size: 50px;
    padding-top: 17px;
}
.point-btn{
    
    font-size: 60px;
}
.full-btns{
    height: 383px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    justify-content:center;
    column-gap:20px;
    row-gap:5px;

    

}
.first-btns{
}
